@charset "UTF-8";

/****************************************
			General
****************************************/
html {
    height:100%;
    overflow-y: scroll;
    overflow-y: auto;
}
body {
	font-family: "メイリオ", "ヒラギノ角ゴ Pro W3" , "ＭＳ Ｐゴシック", "MS PGothic", "Hiragino Kaku Gothic Pro", Helvetica, Arial, Sans-Serif;
	line-height:1.5;
	font-size: 75%;
	height:100%;
	width:100%;
	color:black;
}

/****************************************
			Link
****************************************/
a:link,a:visited {text-decoration:none;}
a:hover,a:active {text-decoration:none;}


/****************************************
			Class
****************************************/
.f_l {float:left;}
.f_r {float:right;}

/* clearfix */
.cf:before,.cf:after {content:"";display:block;overflow:hidden;}
.cf:after {clear:both;}
.cf {zoom:1;}

/****************************************
			Layout
****************************************/
/* Header */
header {
    background:#191817;
    width:100%;
    padding:10px 0;
    position:fixed;
    z-index:100;
}
    header h1 {
        font-family:'Questrial', sans-serif;
        line-height:1;
        font-weight:normal;
        width:14%;
        float:left;
        text-align:center;
    }
        header h1 a {
            color:#fff;
        }
            header h1 span {
                display:block;
            }
            header h1 span:first-child {
                font-size:117%;
                margin-bottom:6px;
            }
            header h1 span:last-child {
                font-size:200%;
                color:#f15984;
            }
    #set-class {
        float:left;
    }
        .class {
            background:url(../images/bg-white.png);
            color:#fff;
            padding:0 12px;
            border-radius:5px;
            margin-right:1px;
            min-height:36px;
            line-height:36px;
        }
        .class:first-child {
            margin-bottom:1px;
        }
            .class img {
                vertical-align:middle;
            }
            .class-set , .class-co {
                margin-right:12px;
            }
            .class-lv , .class-point {}
                .class-lv input , .class-point input {
                    background:none;
                    border:none;
                    color:#f15984;
                    font-family: "メイリオ", "ヒラギノ角ゴ Pro W3" , "ＭＳ Ｐゴシック", "MS PGothic", "Hiragino Kaku Gothic Pro", Helvetica, Arial, Sans-Serif;
                }
                .class-lv input {
                    font-weight:bold;
                    width:36px;
                    font-size:133%;
                }
                .class-point input {
                    width:28px;
                    font-size:117%;
                    text-align:center;
                }
        .btn-reset {
            border:1px solid #f04878;
            border-radius:3px;
            background:#f05783 url(../images/icon-reset.png) 6px center no-repeat;
            color:#fff;
            padding:0 6px 0 24px;
            box-shadow:
                inset 0 1px 0 rgba(255, 255, 255, 0.3),
                inset 1px 0 0 rgba(255, 255, 255, 0.2),
                inset -1px 0 0 rgba(255, 255, 255, 0.1);
            cursor:pointer;
            min-height:20px;
            font-size:83%;
            font-weight:bold;
            font-family: "メイリオ", "ヒラギノ角ゴ Pro W3" , "ＭＳ Ｐゴシック", "MS PGothic", "Hiragino Kaku Gothic Pro", Helvetica, Arial, Sans-Serif;
            margin-left:10px;
        }
        .btn-reset:hover {
            background:#f5799c url(../images/icon-reset.png) 6px center no-repeat;
        }

    #set-sub {
        float:left;
    }
        #utility , #config {
            background:url(../images/bg-white.png);
            color:#fff;
            padding:0 12px;
            border-radius:5px;
            margin-right:1px;
            height:36px;
            line-height:36px;
        }
        #utility {
            margin-bottom:1px;
        }
            #utility select {
                margin-right:6px;
            }
            #utility input , #btn-close {
                border:1px solid #c9c9c9;
                border-radius:3px;
                background:#e0e0e0;
                box-shadow:
                    inset 0 1px 0 rgba(255, 255, 255, 0.3),
                    inset 1px 0 0 rgba(255, 255, 255, 0.2),
                    inset -1px 0 0 rgba(255, 255, 255, 0.1);
                cursor:pointer;
                min-height:20px;
                font-size:83%;
                font-family: "メイリオ", "ヒラギノ角ゴ Pro W3" , "ＭＳ Ｐゴシック", "MS PGothic", "Hiragino Kaku Gothic Pro", Helvetica, Arial, Sans-Serif;
            }
            #utility input:hover {
                background:#c0c0c0;
            }
                #btn-save , #btn-url , #btn-close ,#btn-text {
                    margin-right:6px;
                }
                #btn-load {
                    margin-right:18px;
                }
            #btn-close {
                margin:10px auto 0 auto;
                width:70px;
                display:block;
            }
            .m-detail {
                display:none;
            }
    #tab {
        position:absolute;
        left:1px;
        bottom:-29px;
    }
    #tab div {
        background:#191817;
        border-radius:5px;
        line-height:28px;
        height:28px;
        color:#fff;
        padding:0 6px;
        float:left;
        margin-right:1px;
        cursor:pointer;
    }
    #tab-sub {
        opacity:0.5;
    }
        #tab div img {
            vertical-align:middle;
        }


/* Body */
#body {
    position:relative;
}

#status {
    position:absolute;
    right:10px;
    top:10px;
}
.undo {
    position:absolute;
    right:1px;
    top:1px;
    z-index:70;
}
    .btn-undo {
        opacity:0.5;
        cursor:pointer;
    }
    .log {
        display:none;
    }

#tree-main , #tree-sub {
    width:960px;
    margin:0 auto;
    position:relative;
}
#tree-m {}
#tree-sub {
    display:none;
}
    canvas {
        position:absolute;
        z-index:0;
    }
    .skill {
        position:absolute;
        width:146px;
        height:45px;
        border:1px solid #e0e0e0;
        border-radius:3px;
        z-index:10;
        box-sizing:border-box;
    }
        .req {
            position:absolute;
            top:-17px;
            left:50%;
            margin-left:4px;
            height:12px;
            color:#7b746c;
        }
            .req img {
                margin-right:4px;
            }
        .skill-img {
            width:28px;
            position:absolute;
            top:1px;
            left:1px;
        }
        .skill h2 {
            padding:1px 0 0 32px;
            line-height:1;
            font-size:85%;
            height:28px;
            display: table-cell;
            vertical-align: middle;
        }
        .skill-lv , .skill-lv-def {
            position:absolute;
            right:0;
            top:3px;
            background:none;
            border:0;
            padding:0;
            line-height:1;
            color:#cad0db;
            width:24px;
            font-family:'Questrial', sans-serif;
            font-size:150%;
            text-align:center;
            letter-spacing:-0.1em;
        }
        .lv-select {
            position:absolute;
            bottom:1px;
            left:1px;
        }
            .lv-select button , .lv-select span {
                width:12px;
                height:12px;
                font-size:10px;
                font-family: 'Cousine', sans-serif;
                border:none;
                padding:1px 0 0 0;
                margin:0;
                line-height:1;
                cursor:pointer;
                background:#c8e1ff;
                color:#626262;
                border-radius:3px;
                margin-right:1px;
                float:left;
                text-align:center;
            }
            .lv-select button:hover {
                color:#fff !important;
                background:#f37e00 !important;
            }
    .r1 {
        top:40px;
    }
    .r2 {
        top:115px;
    }
    .r3 {
        top:190px;
    }
    .r4 {
        top:265px;
    }
    .r5 {
        top:340px;
    }
    .r6 {
        top:415px;
    }
    .r7 {
        top:490px;
    }
    .r8 {
        top:565px;
    }
    .r9 {
        top:640px;
    }
    .r10 {
        top:715px;
    }
    .r11 {
        top:790px;
    }
    .r12 {
        top:865px;
    }
    .r13 {
        top:940px;
    }
    .r14 {
        top:1015px;
    }
    .r15 {
        top:1090px;
    }
    .r16 {
        top:1165px;
    }
    .r17 {
        top:1240px;
    }
    .r18 {
        top:1315px;
    }
    .c1 {
        left:7px;
    }
    .c2 {
        left:167px;
    }
    .c3 {
        left:327px;
    }
    .c4 {
        left:487px;
    }
    .c5 {
        left:647px;
    }
    .c6 {
        left:807px;
    }

    .skill-detail {
        position:absolute;
        top:0;
        left:0;
        display:none;
        background:url(../images/bg-yellow85.png);
        border-radius:5px;
        box-shadow: 0 0 6px rgba(0,0,0,0.4);
        z-index: 100;
        padding:20px;
    }
    .skill-detail-bottom {
        position:fixed;
        bottom:18px;
        left:5%;
        width:86%;
        padding:20px 2%;
        display:none;
        background:url(../images/bg-yellow85.png);
        border-radius:5px;
        box-shadow: 0 0 6px rgba(0,0,0,0.4);
        z-index: 100;
        height:120px;
    }
        #btn-detail-close {
            display:none;
        }
        .skill-detail-bottom .left , .skill-detail-bottom table {
            float:left;
        }
        .skill-detail-bottom .left {
            margin-right:20px;
        }

        .skill-detail h2 , .skill-detail-bottom h2 {
            font-size:150%;
            margin-bottom:12px;
            color:#f15984;
        }
            .skill-detail img , .skill-detail-bottom img {
                vertical-align:middle;
                margin-right:10px;
            }
        .skill-detail-bottom p {
            width:420px;
            line-height:2;
        }
        .skill-detail p {
            margin-bottom:12px;
            max-width:360px;
            line-height:2;
        }
        .skill-detail table , .skill-detail-bottom table {
            font-size:85%;
            border-left:1px solid #e0e0e0;
            border-top:1px solid #e0e0e0;
            background:#fff;
        }

            .skill-detail thead th , .skill-detail-bottom thead th {
                background:#d2e6ff;
            }
            .skill-detail th , .skill-detail-bottom th {
                padding:2px 4px;
                border-right:1px solid #e0e0e0;
                border-bottom:1px solid #e0e0e0;
            }
            .skill-detail td , .skill-detail-bottom td {
                padding:2px 4px;
                text-align:center;
                border-right:1px solid #e0e0e0;
                border-bottom:1px solid #e0e0e0;
            }

#overlay {
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background:url(../images/bg-black40.png);
    z-index:400;
}
    #overlay-box {
        background:white;
        width:600px;
        padding:20px;
        border-radius:5px;
        box-shadow: 0 0 6px rgba(0,0,0,0.4);
        position:fixed;
        top:80px;
        left:50%;
        margin-left:-300px;
        z-index:450;
    }
        #overlay-box h2 {
            font-size:150%;
            text-align:center;
            margin-bottom:12px;
            color:#f15984;

        }
        #overlay-box textarea {
            width:100%;
            font-size:85%;

        }
        #url-output {
            width:100%;
        }
        #import-main , #import-sub {
            width:100%;
            display:block;
            margin-bottom:12px;
        }
        #btn-import-submit {
            border:1px solid #f04878;
            border-radius:3px;
            background:#f05783;
            color:#fff;
            padding:0 6px;
            box-shadow:
                inset 0 1px 0 rgba(255, 255, 255, 0.3),
                inset 1px 0 0 rgba(255, 255, 255, 0.2),
                inset -1px 0 0 rgba(255, 255, 255, 0.1);
            cursor:pointer;
            font-size:83%;
            font-weight:bold;
            font-family: "メイリオ", "ヒラギノ角ゴ Pro W3" , "ＭＳ Ｐゴシック", "MS PGothic", "Hiragino Kaku Gothic Pro", Helvetica, Arial, Sans-Serif;
            width:70px;
            margin:0 auto;
            display:block;
        }
        #btn-import-submit:hover {
            background:#f5799c;
        }

.photo {
    position:absolute;
    right:26px;
    top:1px;
    z-index:70;
}
    .btn-photo {
        opacity:0.5;
        cursor:pointer;
    }
.detail-m {
    display:none;
}
    .btn-detail {
        cursor:pointer;
    }
    #screenshot-img {
        width:100%;
    }

.lv-select-m {
    display:none;
}
/* Footer */
#footer {
    text-align:center;
    padding-top:100px;
}

@media screen and (max-width:768px) {
/* Header */
header {
    background:#191817;
    width:100%;
    padding:10px 0;
    position:fixed;
    z-index:100;
}
    #set-class {
        float:none;
    }
        .class-set {
            margin:0;
        }
        .class {
            line-height:1;
            height:auto;
            min-height:0;
            padding:0 6px;
        }
            .class-title {
                display:none;
            }
            .class-point {
                display:none;
            }
            .btn-reset {
                background:#f05783 url(../images/icon-reset.png) 4px center no-repeat;
                width:24px;
                margin-left:0;
                text-indent:-999px;
                overflow:hidden;
                padding:0;
            }
    #set-sub {
        float:none;
    }
        #utility {
            display:none;
            width:100%;
            margin:1px 0 0 0;
            line-height:1;
            height:auto;
            min-height:0;
            padding:4px 12px;
        }
        	#utility-m {
        		display:none;
        	}
        #config {
            display:none;
        }
.undo {
    position:fixed;
    left:10px;
    right:inherit;
    top:inherit;
    bottom:10px;
    z-index:70;
}
.photo {
    display:none;
}
.skill {
    height:inherit;
}
	.skill-lv {
	    display:none;
	}
	.lv-select {
	    display:none;
	}
	.class-lv input {
        width:30px;
    }
    .class-co {
    	margin-right:5px;
    }
    .skill h2 {
        padding:1px 0 0 30px;
    }

	.lv-select-m {
	    display:block;
	    position:absolute;
	    right:-2px;
	    top:5px;
	    background:none;
	}
.skill-detail-bottom {
    position:fixed;
    width:94%;
    height:240px;
    margin:0 1%;
    padding:2%;
    bottom:1%;
    left:0;
    background:#fff;
    display:none;
}
    #btn-detail-close {
        display:block;
        position:absolute;
        right:5px;
        top:-25px;
    }
    .skill-detail-bottom p {
            width:100%;
            line-height:2;
        }
    .skill-detail-bottom table {
        font-size:50%;
        width:100%;
    }
	    .skill-detail-bottom th {
	        padding:0;
	    }
	    .skill-detail-bottom td {
	        padding:0;
	    }
    #utility-m {
		display:block;
		position:absolute;
		bottom:-30px;
		right:1px;
	}
		#btn-utility {
			cursor:pointer;
		}
		#utility-box{
			display:block;
		}
	#overlay-box {
        width:96%;
        padding:1%;
        margin:1%;
        top:0;
        left:0;
    }
    	#overlay-box textarea {
            width:95%;
        }
        #url-output {
            width:95%;
        }
        #import-main , #import-sub {
            width:95%;
        }
}

/* cyrillic-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lIkaiiRdih4SpP_SkvzAbt.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lIkaiiRdih4SpP_SAvzAbt.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lIkaiiRdih4SpP_SgvzAbt.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lIkaiiRdih4SpP_ScvzAbt.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lIkaiiRdih4SpP_SYvzAbt.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lIkaiiRdih4SpP_SsvzAbt.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lIkaiiRdih4SpP_SovzAbt.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lIkaiiRdih4SpP_SQvzA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lNkaiiRdih4SpP9Z8K2TTM0uBl.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lNkaiiRdih4SpP9Z8K2T3M0uBl.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lNkaiiRdih4SpP9Z8K2TXM0uBl.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lNkaiiRdih4SpP9Z8K2TrM0uBl.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lNkaiiRdih4SpP9Z8K2TvM0uBl.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lNkaiiRdih4SpP9Z8K2TbM0uBl.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lNkaiiRdih4SpP9Z8K2TfM0uBl.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cousine/v16/d6lNkaiiRdih4SpP9Z8K2TnM0g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/questrial/v12/QdVUSTchPBm7nuUeVf70sSFlq20.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/questrial/v12/QdVUSTchPBm7nuUeVf70sCFlq20.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/questrial/v12/QdVUSTchPBm7nuUeVf70viFl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

